.bee-right-wing {
  fill: var(--bee-right-wing) !important;
}

.bee-left-wing {
  fill: var(--bee-left-wing) !important;
}

.bee-yellow-stripes {
  fill: var(--bee-yellow) !important;
  stroke: var(--bee-yellow) !important;
}

.bee-black-stripes {
  fill: var(--bee-black) !important;
}

.bee-cheeks {
  fill: var(--bee-cheeks) !important;
}

#bee {
  bottom: 40vh;
  position: absolute;
  animation: 10s linear infinite run;
}

@keyframes run {
  0% {
    left: calc(100% - 100px);
  }
  48% {
    transform: rotateY(0deg);
  }
  50% {
    left: 0;
    transform: rotateY(180deg);
  }
  98% {
    transform: rotateY(180deg);
  }
  100% {
    left: calc(100% - 100px);
    transform: rotateY(0deg);
  }
}