.bee-right-wing {
  fill: var(--bee-right-wing) !important;
}

.bee-left-wing {
  fill: var(--bee-left-wing) !important;
}

.bee-yellow-stripes {
  fill: var(--bee-yellow) !important;
  stroke: var(--bee-yellow) !important;
}

.bee-black-stripes {
  fill: var(--bee-black) !important;
}

.bee-cheeks {
  fill: var(--bee-cheeks) !important;
}

#bee {
  position: absolute;
  transition-property: bottom, left, transform;
  transition-duration: 1s;
  transition-timing-function: linear;
  z-index: 10;
}
