.btn-outline-secondary {
  margin: 0 10px;
  background: var(--cloud) !important;
  border-color: var(--cloud) !important;
  color: var(--secondary-color) !important;
}
.btn-outline-secondary:hover {
  background: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
  color: var(--cloud) !important;
}