.cloud {
  margin: 0 0.2rem;
  display: inline-block;
  background-color: var(--cloud) !important;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.cloud a {
  height: 5.5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.9rem 1rem 0;
}

.cloud .btn-outline-secondary {
  width: 4rem;
  height: 4rem;
}

.cloud .btn-outline-secondary, .cloud a {
  background: var(--cloud) !important;
  border-color: var(--cloud) !important;
  color: var(--secondary-color) !important;
}
.cloud .btn-outline-secondary:hover, .cloud a:hover {
  background: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
  color: var(--cloud) !important;
}