.grass {
  position: absolute;
}

.long-grass-svg {
  fill: var(--long-grass) !important;
}

.side-grass-svg {
  fill: var(--side-grass) !important;
}

#bottom-grass {
  bottom: 0;
  width: 100vw;
}

#left-grass {
  left: 0;
  height: 84vh;
}

#right-grass {
  right: 0;
  height: 84vh;
}