#grass {
  bottom: 0;
  position: absolute;
  width: 110%;
  left: -10%;
}

.long-grass {
  fill: var(--long-grass) !important;
}

.side-grass {
  fill: var(--side-grass) !important;
}

#leftGrass {
  left: -7%;
  height: 84vh;
  position: absolute;
}

#rightGrass {
  right: -9%;
  height: 84vh;
  position: absolute;
}