:root {
  --background:
      #fff linear-gradient(0deg,
      #576500 6%,
      #889931 41%,
      #bed062 53%,
      #e8fb87 72%) fixed;
  --bee-yellow: #ffdf9a;
  --bee-black:#775a00;
  --bee-cheeks: #ffb4ab;
}
[data-theme='dark'] {
  --background:
      #fff linear-gradient(0deg,
      #2c3400 6%,
      #414c00 41%,
      #576500 53%,
      #889931 72%) fixed;
  --bee-yellow: #5a4300;
  --bee-black: #3f2e00;
  --bee-cheeks: #93000a;
}