:root {
  --background:
      #fff linear-gradient(180deg,
      #576500 15%,
      #4c5800 6%) fixed;
  --secondary-color: #006685;
  --bee-yellow-1: #ffdf9a;
  --bee-yellow-2: #ffdad6;
  --bee-black:#775a00;
  --bee-cheeks: #ffb68e;
  --bee-right-wing: #e4e3d3;
  --bee-left-wing: #fbfae9;
  --long-grass-1: #889931;
  --long-grass-2: #a2b449;
  --long-grass-3: #bed062;
  --side-grass: #e8fb87;
  --navbar-main: #bfe9ff;
  --cloud: #f4faff;
  --cloud-text: #001f2a;
}
[data-theme='dark'] {
  --background:
      #fff linear-gradient(180deg,
      #414c00 21%,
      #2c3400 6%) fixed;
  --secondary-color: #bfe9ff;
  --bee-yellow-1: #b58a00;
  --bee-yellow-2: #d6783f;
  --bee-black: #3f2e00;
  --bee-cheeks: #93000a;
  --bee-right-wing: #c7c7b7;
  --bee-left-wing: #acac9d;
  --long-grass-1: #414c00;
  --long-grass-2: #4c5800;
  --long-grass-3: #576500;
  --side-grass: #6f7e17;
  --navbar-main: #001f2a;
  --cloud: #003547;
  --cloud-text: #f4faff;
}