:root {
  --md-source: #515e01;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #191e00;
  --md-ref-palette-primary20: #2c3400;
  --md-ref-palette-primary25: #364000;
  --md-ref-palette-primary30: #414c00;
  --md-ref-palette-primary35: #4c5800;
  --md-ref-palette-primary40: #576500;
  --md-ref-palette-primary50: #6f7e17;
  --md-ref-palette-primary60: #889931;
  --md-ref-palette-primary70: #a2b449;
  --md-ref-palette-primary80: #bed062;
  --md-ref-palette-primary90: #d9ec7a;
  --md-ref-palette-primary95: #e8fb87;
  --md-ref-palette-primary98: #f6ffc0;
  --md-ref-palette-primary99: #fcffdd;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #251a00;
  --md-ref-palette-secondary20: #3f2e00;
  --md-ref-palette-secondary25: #4c3800;
  --md-ref-palette-secondary30: #5a4300;
  --md-ref-palette-secondary35: #694e00;
  --md-ref-palette-secondary40: #775a00;
  --md-ref-palette-secondary50: #967200;
  --md-ref-palette-secondary60: #b58a00;
  --md-ref-palette-secondary70: #d6a400;
  --md-ref-palette-secondary80: #f7be19;
  --md-ref-palette-secondary90: #ffdf9a;
  --md-ref-palette-secondary95: #ffefd2;
  --md-ref-palette-secondary98: #fff8f2;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #331200;
  --md-ref-palette-tertiary20: #542200;
  --md-ref-palette-tertiary25: #652a00;
  --md-ref-palette-tertiary30: #773300;
  --md-ref-palette-tertiary35: #883c04;
  --md-ref-palette-tertiary40: #974811;
  --md-ref-palette-tertiary50: #b66028;
  --md-ref-palette-tertiary60: #d6783f;
  --md-ref-palette-tertiary70: #f69256;
  --md-ref-palette-tertiary80: #ffb68e;
  --md-ref-palette-tertiary90: #ffdbca;
  --md-ref-palette-tertiary95: #ffede5;
  --md-ref-palette-tertiary98: #fff8f6;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #001f2a;
  --md-ref-palette-neutral20: #003547;
  --md-ref-palette-neutral25: #004156;
  --md-ref-palette-neutral30: #004d65;
  --md-ref-palette-neutral35: #005975;
  --md-ref-palette-neutral40: #006685;
  --md-ref-palette-neutral50: #0081a7;
  --md-ref-palette-neutral60: #119cc8;
  --md-ref-palette-neutral70: #43b7e5;
  --md-ref-palette-neutral80: #6cd2ff;
  --md-ref-palette-neutral90: #bfe9ff;
  --md-ref-palette-neutral95: #e1f4ff;
  --md-ref-palette-neutral98: #f4faff;
  --md-ref-palette-neutral99: #fafcff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #1b1c12;
  --md-ref-palette-neutral-variant20: #303126;
  --md-ref-palette-neutral-variant25: #3b3c30;
  --md-ref-palette-neutral-variant30: #46483b;
  --md-ref-palette-neutral-variant35: #525347;
  --md-ref-palette-neutral-variant40: #5e5f52;
  --md-ref-palette-neutral-variant50: #77786a;
  --md-ref-palette-neutral-variant60: #919283;
  --md-ref-palette-neutral-variant70: #acac9d;
  --md-ref-palette-neutral-variant80: #c7c7b7;
  --md-ref-palette-neutral-variant90: #e4e3d3;
  --md-ref-palette-neutral-variant95: #f2f2e0;
  --md-ref-palette-neutral-variant98: #fbfae9;
  --md-ref-palette-neutral-variant99: #fefdec;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #576500;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #d9ec7a;
  --md-sys-color-on-primary-container-light: #191e00;
  --md-sys-color-secondary-light: #775a00;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #ffdf9a;
  --md-sys-color-on-secondary-container-light: #251a00;
  --md-sys-color-tertiary-light: #974811;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #ffdbca;
  --md-sys-color-on-tertiary-container-light: #331200;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fafcff;
  --md-sys-color-on-background-light: #001f2a;
  --md-sys-color-surface-light: #fafcff;
  --md-sys-color-on-surface-light: #001f2a;
  --md-sys-color-surface-variant-light: #e4e3d3;
  --md-sys-color-on-surface-variant-light: #46483b;
  --md-sys-color-outline-light: #77786a;
  --md-sys-color-inverse-on-surface-light: #e1f4ff;
  --md-sys-color-inverse-surface-light: #003547;
  --md-sys-color-inverse-primary-light: #bed062;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #576500;
  --md-sys-color-outline-variant-light: #c7c7b7;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #bed062;
  --md-sys-color-on-primary-dark: #2c3400;
  --md-sys-color-primary-container-dark: #414c00;
  --md-sys-color-on-primary-container-dark: #d9ec7a;
  --md-sys-color-secondary-dark: #f7be19;
  --md-sys-color-on-secondary-dark: #3f2e00;
  --md-sys-color-secondary-container-dark: #5a4300;
  --md-sys-color-on-secondary-container-dark: #ffdf9a;
  --md-sys-color-tertiary-dark: #ffb68e;
  --md-sys-color-on-tertiary-dark: #542200;
  --md-sys-color-tertiary-container-dark: #773300;
  --md-sys-color-on-tertiary-container-dark: #ffdbca;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #001f2a;
  --md-sys-color-on-background-dark: #bfe9ff;
  --md-sys-color-surface-dark: #001f2a;
  --md-sys-color-on-surface-dark: #bfe9ff;
  --md-sys-color-surface-variant-dark: #46483b;
  --md-sys-color-on-surface-variant-dark: #c7c7b7;
  --md-sys-color-outline-dark: #919283;
  --md-sys-color-inverse-on-surface-dark: #001f2a;
  --md-sys-color-inverse-surface-dark: #bfe9ff;
  --md-sys-color-inverse-primary-dark: #576500;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #bed062;
  --md-sys-color-outline-variant-dark: #46483b;
  --md-sys-color-scrim-dark: #000000;
  /* Custom Colors */
  --md-custom-color-Custom-Color-1: #515e01;
}
