#bee {
  bottom: 30%;
  position: absolute;
  animation: 10s linear infinite run;
}
@keyframes run {
  0% {
    left: calc(100% - 100px);
  }
  48% {
    transform: rotateY(0deg);
  }
  50% {
    left: 0;
    transform: rotateY(180deg);
  }
  98% {
    transform: rotateY(180deg);
  }
  100% {
    left: calc(100% - 100px);
    transform: rotateY(0deg);
  }
}
.btn-group-lg>.btn, .btn-lg {
  padding: .375rem 0.75rem;;
  font-size: 1.5rem;
}