@font-face {
  font-family: "ShadowsIntoLightTwo";
  src: url("../fonts/ShadowsIntoLightTwo.ttf") format("truetype");
}

@font-face {
  font-family: "Pangolin";
  src: url("../fonts/Pangolin.ttf") format("truetype");
}