#background-world{
    background: var(--background);
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.container-fluid {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
    position: relative;
    left: 0;
    top:0;
    overflow: hidden;
}